@model Assignment1.Models.Product

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Add Product</h1>
<div class="container">
    @using (Html.BeginForm())
	{
		<table class="table table-bordered" style="height:auto">
			<tr>
				<td>ID</td>
				<td>@Html.TextBox("Pid","",new { type="number"})</td>
				<td>@Html.ValidationMessageFor(m=>m.Pid)</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>@Html.TextBox("Pname")</td>
				<td>@Html.ValidationMessageFor(m => m.Pname)</td>
			</tr>
			<tr>
				<td>Price</td>
				<td>@Html.TextBox("Price", "", new { type = "number", step = "any" })</td>
				<td>@Html.ValidationMessageFor(m => m.Price)</td>
			</tr>
			<tr>
				<td>Stock</td>
				<td>@Html.TextBox("Stock", "", new { type = "number" })</td>
				<td>@Html.ValidationMessageFor(m => m.Stock)</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="Add" />
				</td>
			</tr>			
		</table>
	}
</div>